psycopg2-binary==2.9.5
SQLAlchemy==1.4.46
asyncpg==0.27.0
databases==0.7.0
fastapi
greenlet
itsdangerous==2.1.2
starlette
Werkzeug
uvicorn
gunicorn
aiofiles
requests
celery==5.3.0
pyrogram==2.0.100
Telethon
TgCrypto
git+https://github.com/redis/redis-py.git
asgiref
pipx
cryptg
aiohttp
instructor
groq
python-multipart
hugchat
orm[sqlite]==0.3.0
pydub
cohere